:root {
    --primary: #0d6efd;
    --red: #e91328;
    --yellow: #ffcd39;
    --green: #2ECC71;
    --grey: #898990;
    --secondary: #6c757d;
    --secondary-ts: #6c757d28;
}

body{
    font-family: Montserrat;
}

.fs-14p{
    font-size: 14px;
}

.fw-500{
    font-weight: 500;
}

.text-grey{
    color: var(--grey);
}

.btn-red{
    background-color: var(--red);
    color: #ffffff;
}

.btn-red:hover{
    background-color: #d11124;
    color: #ffffff;
}

.btn-yellow{
    background-color: var(--yellow);
    color: #000000;
}

.btn-yellow:hover{
    background-color: #fcc729;
    color: #000000;
}

.btn-green{
    background-color: var(--green);
    color: #ffffff;
}

.btn-green:hover{
    background-color: #22bd62;
    color: #ffffff;
}

.btn-grey{
    background-color: var(--grey);
    color: #ffffff;
}

.btn-grey:hover{
    background-color: #96969b;
    color: #ffffff;
}

.border-right-0{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px
}

.border-left-0{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px
}

.custom-table th {
    background-color: #f8f8f866;
    color: var(--secondary);
    font-size: 14px;
    font-weight: 500;
}

.custom-table td {
    font-weight: 500;
}








.main-layout{
    padding-left: 210px;
}

.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    width: 210px;
}

.sidebar-menu .nav-item{
    width: 100%;
}

.sidebar-menu .nav-item .nav-link{
    width: 100%;
    /* border-radius: 4px; */
    padding: 12px 18px;
    /* margin-bottom: 8px; */
    font-size: 18px;
    color: var(--secondary);
    font-weight: 500;
}

.sidebar-menu .nav-item .nav-link i{
    margin-right: 12px;
}

.sidebar-menu .nav-item .nav-link:hover{
    background-color: var(--secondary-ts);
}

.sidebar-menu .nav-item .nav-link.btn-logout:hover{
    background-color: var(--red);
    color: #ffffff;
}

.sidebar-menu .nav-item .nav-link.active{
    background-color: var(--primary);
    color: #ffffff;
}